
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, Helvetica, sans-serif;
    background: linear-gradient(to right, #0095ff, #4d96e4);
    color: #f1f1f1;
    
}
h1{
    text-align: center;
    font-size: 100px;
    margin-bottom:20px ;
    font-family: Playfair;
    font-weight: 300;
    letter-spacing: 3px;
}
span{
    font-size: 40px;
    font-weight: lighter;
    font-style: oblique;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 20px;
   
}
.morpion-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1px;
    width: 500px;
  margin: 0px 50px 0px 50px;
    border: 3px solid #f1f1f1;
    background: #f1f1f1;
}
.case{
    aspect-ratio: 1/1;
    background: #cfb001;
    color: #f1f1f1;
    cursor: pointer;
    font-size: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.comment{
    font-size: 40px;
    text-align: center;
}
.player1,.player2{
    font-size: 200px;
    color: rgba(128, 128, 128, 0.814);
   
    
}
.player1.active ,.player2.active{
    
    color: rgb(68, 255, 0);
    animation : button 0.5s ease-in-out
    
}

@keyframes button {
    50%{
        transform: translateY(-5px)
    }70%{
        transform: translateY(5px)
    } 80%{
        transform: translateY(-5px)
    }
     90%{
        transform: translateY(5px)
    }
     100%{
        transform: translateY(0px)
    }
}
p{
    text-align: center;
}



